.navbar {
  background: var(--mainBackGInverse);
  padding: 0.3em;
  margin-top: 0em;
  min-height: 1vh;
}

ul, li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 0;
}

.navButton {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--mainBlack);
  text-decoration: none;
  background-color: var(--halfwhite);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 2px 2px 2px var(--shadow);
  padding: 0.5em 1em;
}

.navButton:hover {
  background-color: var(--lightBlueBg);
  color: var(--white);
  border: 1px solid var(--white);
}

.navButton:active {
  background-color: var(--lightBlueBg);
  color: var(--mainBlack);
  box-shadow: inset 2px 2px 2px var(--shadow);
}

@media only screen and (max-width: 555px){
  .navButton {
    font-size: 12px;
  }
}

@media only screen and (max-width: 427px){
  .navButton {
    font-size: 10px;
  }
}

@media only screen and (max-width: 367px){
  .navButton {
    font-size: 8px;  }
}

@media only screen and (max-width: 300px){
  .navButton {
    font-size: 6px;  }
}
