footer {
  font-family: 'Montserrat', sans-serif;
  background: var(--mainBackG);
  color: var(--mainBlack);
  font-size: 14px;
  font-weight: 200;
  text-align: center;
  padding: 0.5em;
  bottom: 0;
  min-height: 1vh;
}
