<div class="about">
  <h1>Sobre E-tech SYS</h1>
  <p>
    Ferramenta desenvolvida para facilitar o trabalho de funcionários na empresa
    E-tech Informática TELECOM.
  </p>

  <h2>Lançamento 03/11/2023</h2>

  <h3>Atualização 29/03/2024</h3>
  <p>
    Melhorias na responsividade e mudanças no layout.
  </p>

  <h3>Atualização 05/03/2024</h3>
  <p>
    Correção no calculo de dias na mudança de vencimento para ser 100% acertivo,
    dessa forma agora será considerado os meses com mais ou menos de 30 dias.
  </p>
  <p>
    Foi inserido uma janela de aviso para o usuário verificar os valores antes
    de enviar ao cliente.
  </p>


  <h3>Atualização 25/11/2023:</h3>
  <p>
    Corrigido os valores com uma quantidade indesejada de casas decimais,
    valores gerados agora são arredondados automáticamente. <br />
    Valores com casas decimais menor que R$0.50 serão zeradas e as maiores serão
    arredondadas para o valor inteiro, ou seja, R$0.49 se tornará R$0.00 e
    R$0.51 se tornará R$1.00.
  </p>

  <h3>Atualização 07/11/2023:</h3>
  <p>
    Implementado melhorias na responsividade, suportando telas com resolução a
    partir de 300x400.
  </p>
</div>
