<form class="form">
  <h1 class="title">Calculadora de dias</h1>

  <fieldset class="group">
    <label for="days">Dias de acesso:</label>
    <input
      [(ngModel)]="days"
      id="days"
      name="days"
      type="number"
      class="days"
      placeholder="Número de dias..."
    />
  </fieldset>

  <fieldset class="group">
    <label for="plan">Valor do plano:</label>
    <select [(ngModel)]="plan" id="plan" name="plan" type="number" class="plan">
      <option value="" selected disabled>Selecione um plano &#9660;</option>
      <option value="70">R$70,00</option>
      <option value="80">R$80,00</option>
      <option value="90">R$90,00</option>
      <option value="100">R$100,00</option>
      <option value="110">R$110,00</option>
      <option value="120">R$120,00</option>
      <option value="130">R$130,00</option>
      <option value="150">R$150,00</option>
      <option value="180">R$180,00</option>
      <option value="200">R$200,00</option>
      <option value="250">R$250,00</option>
    </select>
  </fieldset>

  <fieldset class="group finalResult">
    <label for="resultField">Resultado:</label>
    <textarea
      [(ngModel)]="resultField"
      #resultTextarea
      id="resultField"
      name="resultField"
      rows="6"
      cols="56"
      class="result"
    >
    </textarea>
  </fieldset>

  <div class="buttonArea">
    <button (click)="daysCalculator()" type="button" class="button buttonDays">
      Calcular dias
    </button>
    <button (click)="copyResult()" type="button" class="button buttonCopy">
      Copiar
    </button>
    <button (click)="fieldClenear()" type="button" class="button buttonClear">
      Limpar
    </button>
  </div>
</form>
