<form class="form">
  <h1 class="title">Calcular mudança de vencimento</h1>

  <fieldset class="group">
    <label for="plan">Valor do plano:</label>
    <select [(ngModel)]="plan" id="plan" name="plan" type="number" class="plan">
        <option value="" selected disabled>Selecione um plano &#9660;</option>
        <option value="70">R$70,00</option>
        <option value="80">R$80,00</option>
        <option value="90">R$90,00</option>
        <option value="100">R$100,00</option>
        <option value="110">R$110,00</option>
        <option value="120">R$120,00</option>
        <option value="130">R$130,00</option>
        <option value="150">R$150,00</option>
        <option value="180">R$180,00</option>
        <option value="200">R$200,00</option>
        <option value="250">R$250,00</option>
    </select>
</fieldset >

  <fieldset class="group">
      <label for="date">Vencimento atual:</label>
         <input [(ngModel)]="date" id="date" name="date" type="date" class="date">
  </fieldset>

  <fieldset class="group">
        <label for="newDate">Vencimento solicitado:</label>
        <select [(ngModel)]="Rdate" id="newDate" name="newDate" type="number" class="newDate">
            <option value="" selected disabled>Novo vencimento &#9660;</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
        </select>
  </fieldset >

  <fieldset class="group">
      <label for="paper">Boletos cancelados:</label>
          <input [(ngModel)]="paper" id="paper" name="paper" type="number" class="paper" placeholder="Opcional">

  </fieldset >

  <fieldset class="group finalResult">
      <label for="resultField">Resultado:</label>
          <textarea
          [(ngModel)]="resultField"
          #resultTextarea
          id="resultField"
          name="resultField"
          rows="10"
          cols="60"
          class="result">
        </textarea>

  </fieldset>

  <div class="buttonArea">
      <button (click)="showResult()" type="button" class="button buttonChangeDate">Calcular vencimento</button>
      <button (click)="copyResult()" type="button" class="button buttonCopy">Copiar</button>
      <button (click)="fieldClenear()" type="button" class="button buttonClear">Limpar</button>
  </div>
  <div class="alert" *ngIf="!hidden">
    <p>
      <span class="fa-solid fa-circle-exclamation"></span>
      Alguns fatores não são considerados no calculo,
      <br />então verifique a situação do vencimento {{ this.formatDate() }}.
    </p>
  </div>
</form>
