* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

@import '~normalize.css';

:root {
  --red: #e93d50;
  --darkRed: #af303f;
  --white: #fff;
  --halfwhite:#ffffff86;
  --lightBlueBg:#556FD9;
  --blueBg: #23538a;
  --newBlue: #250BE1;
  --mainBackG: linear-gradient(30deg, #a7cfdf 0%,#250BE1 100%);
  --mainBackGInverse: linear-gradient(45deg,#250BE1 0%, #a7cfdf 100%);
  --mainBlack: #000000;
  --shadow:#00000070;
  --font-darkBlue: #010048;
  --mainFont: 'Montserrat', sans-serif;
}

body {
  background: var(--mainBackG);
  backdrop-filter: blur(20px);
  font-family: var(--mainFont);
  height: 100vh;
  width: 100vw;
  transition: .5s;
}

h1 {
  color: var(--white);
  margin-bottom: 1.3em;
  font-size: 2rem;
  word-wrap: break-word;
}


fieldset {
  border: 0;
  margin: 0.5em;
}


input, select, textarea, button {
  all: unset;
  background-color: var(--white);
  border-radius: 10px;
  padding: 0.5em 0.8em;
}

.field {
  margin-bottom: 1em;
}

.group {
  display: flex;
  justify-content: space-between;
}

.group label{
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.group input[type="date"],select {
  width: 195px;
}

.finalResult {
  display: flex;
  flex-direction: column;
}

.field label{
  margin-bottom: 0.2em;
  color: var(--white);
  display: block;
}

fieldset .group .field {
  float: left;
  margin-right: 1em;
}

.field input[type="number"], .field input[type="date"], .field select, .field textarea {
  padding: 0.2em;
  border: 1px solid var(--white);
  box-shadow: 2px 2px 2px var(--shadow);
  display: block;
}

.field select option{
  padding-right: 1em;
}

.field input:focus, .field select:focus, .field textarea:focus {
  background: var(--lightBlueBg) ;
}

.group input:focus, .group textarea:focus {
  background: var(--lightBlueBg) ;
}

.buttonArea {
  display: flex;
  justify-content: space-between;
  padding-inline: 3em;
}

.buttonArea button {
  background: var(--halfwhite);
  color: var(--mainBlack);
  cursor: pointer;
  font-size: 1,5em;
  border: 1px solid transparent;
  margin-bottom: 1em;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px var(--shadow);
  border-radius: 3px;
  opacity: .7;
}

.buttonArea button:hover {
  border: 1px solid var(--white);
  opacity: 1;
}

.buttonArea button:active {
  background-color: var(--lightBlueBg);
  color: var(--mainBlack);
  box-shadow: inset 2px 2px 2px var(--shadow);
}

#check {
  color: var(--white);
  display: inline-block;
}

@media only screen and (max-width: 768px){
  h1 {
    font-size: 1.7rem;
    text-align: center;
  }

  .group input[type="date"], input[type="number"], select {
    width: 10em;
  }

  textarea {
    width: 25em;
  }
}

@media only screen and (max-width: 600px){
  h1 {
    font-size: 1.2rem;
    text-align: center;
  }

  .group {
    flex-direction: column;
  }

  h2 {
    font-size: 1.1rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
     font-size: .9rem;
    }

  .group label{
     font-size: .9rem;
    }

  .buttonArea {
    font-size: .9rem;
    padding-inline: .7em;
  }

  .group input[type="date"], input[type="number"], select {
    width: 15em;
    font-size: .9rem;
  }

  textarea {
    height: 8em;
    font-size: .7rem;
  }
}

@media only screen and (max-width: 425px){
  .hidden {
    display: none;
  }
}
