@import '~normalize.css';
:root {
  --red: #e93d50;
  --darkRed: #af303f;
  --white: #fff;
  --halfwhite:#ffffff86;
  --lightBlueBg:#a7cfdf;
  --blueBg: #23538a;
  --mainBackG: linear-gradient(45deg, #a7cfdf 0%,#23538a 100%);
  --mainBlack: #000000;
  --shadow:#00000070;
  --mainFont: 'Montserrat', sans-serif;
}

body {
  background: var(--mainBackG);
  font-family: var(--mainFont);
  position: relative;
  min-height: 100vh;
}

main {
  align-items: center;
  background: var(--blueBg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1em 5em;
  padding: 1em;
  height: 87vh;
  padding-bottom: 2em;
}

h1 {
  color: var(--white);
  margin-bottom: 20px;
  font-size: 2rem;
}


fieldset {
  border: 0;
  margin: 0.5em;
}


input, select, textarea, button {
  all: unset;
  background-color: var(--white);
  border-radius: 10px;
  padding: 0.5em 0.8em;
}

.field {
  margin-bottom: 1em;
}

.group {
  display: flex;
  justify-content: space-between;
}

.group label{
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.group input[type="date"],select {
  width: 195px;
}

.finalResult {
  display: flex;
  flex-direction: column;
}
.field label{
  margin-bottom: 0.2em;
  color: var(--white);
  display: block;
}

fieldset.group .field {
  float: left;
  margin-right: 1em;
}

.field input[type="number"], .field input[type="date"], .field select, .field textarea {
  padding: 0.2em;
  border: 1px solid var(--white);
  box-shadow: 2px 2px 2px var(--shadow);
  display: block;
}

.field select option{
  padding-right: 1em;
}

.field input:focus, .field select:focus, .field textarea:focus {
  background: var(--lightBlueBg) ;
}

.group input:focus, .group textarea:focus {
  background: var(--lightBlueBg) ;
}

.submitButton{
  font-size: 2em;
  background: var(--white);
  border: 0;
  margin-bottom: 1em;
  color: var(--lightBlueBg);
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px var(--shadow);
  text-shadow: 1px 1px 1px var(--shadow);
  position: absolute;
  top: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 50%);
}

.submitButton:hover {
  background: var(--lightBlueBg);
  box-shadow: inset 2px 2px 2px var(--shadow);
  color: var(--white);
}

.buttonArea {
  display: flex;
  justify-content: space-between;
  padding: 0em 3em;
}

.buttonArea button {
  background: var(--halfwhite);
  color: var(--mainBlack);
  cursor: pointer;
  font-size: 1,5em;
  border: 1px solid transparent;
  margin-bottom: 1em;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px var(--shadow);
  border-radius: 3px;
}

.buttonArea button:hover {
  background: var(--lightBlueBg);
  color: var(--white);
  border: 1px solid var(--white);
  text-decoration: underline;
}

.buttonArea button:active {
  background-color: var(--lightBlueBg);
  color: var(--mainBlack);
  box-shadow: inset 2px 2px 2px var(--shadow);
}

#check {
  color: var(--white);
  display: inline-block;
}

@media only screen and (max-height: 460px) {
  main {
    min-height: 95vh;
  }
  h1 {
    margin: 0.3em 0 0.1em 0;
  }
  .group {
    margin: 0.3em 0 0.1em 0;
  }
  .group label{
    font-size: 0.5rem;
    margin: 0.1em;
  }
  .group input[type="date"], input[type="number"], select {
    width: 8em;
    height: 0.85em;
    font-size: 0.75rem;
  }
  .buttonArea {
    font-size: 10px;
  }
  textarea {
    width: 18em;
    height: 5em;
    font-size: 8px;
  }
}

@media only screen and (max-width: 400px){
  main {
    min-height: 95vh;
  }
  h1 {
    margin: 0.3em 0 0.1em 0;
  }
  .group {
    margin: 0.3em 0 0.1em 0;
  }
  .group label{
    font-size: 0.5rem;
    margin: 0.1em;
  }
  .group input[type="date"], input[type="number"], select {
    width: 8em;
    height: 0.85em;
    font-size: 0.75rem;
  }
  .buttonArea {
    font-size: 10px;
  }
  textarea {
    width: 18em;
    height: 5em;
    font-size: 8px;
  }
}

@media only screen and (max-height: 630px) {
  main {
    min-height: 100vh;
  }
  h1 {
    font-size: 1.2rem;
    text-align: center;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.8rem;
  }

  p {
    font-size: 0.7rem;
  }

  .group label{
    font-size: 0.80rem;
    margin: 0.3em;
  }

  .group input[type="date"], input[type="number"], select {
    width: 10em;
    height: 0.9em;
  }

  .buttonArea {
    justify-content: center;
    gap: 1em;
    font-size: 12px;
  }

  textarea {
    width: 28em;
    height: 5em;
    font-size: 12px;
  }
}

@media only screen and (max-width: 580px){
  main {
    min-height: 100vh;
  }
  h1 {
    font-size: 1.2rem;
    text-align: center;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.8rem;
  }

  p {
    font-size: 0.7rem;
  }

  .group label{
    font-size: 0.80rem;
    margin: 0.3em;
  }

  .group input[type="date"], input[type="number"], select {
    width: 10em;
    height: 0.9em;
  }

  .buttonArea {
    justify-content: center;
    gap: 1em;
    font-size: 12px;
  }

  textarea {
    width: 28em;
    height: 5em;
    font-size: 12px;
  }
}

@media only screen and (max-width: 720px){
  main {
    min-height: 83vh;
    max-height: 84vh;
    margin: 1vh 0.5em;
  }
  footer {
    margin-top: 1.8em;
  }
  .group label{
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 0.2em;
  }
}

@media only screen and (max-height: 1000px){
  main {
    min-height: 83vh;
    max-height: 84vh;
    margin: 1vh 0.5em;
  }
  footer {
    margin-top: 1.8em;
  }
  .group label{
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 0.2em;
  }
}

@media only screen and (min-height: 1400px) {
  main {
    height: 90vh;
  }

  h1 {
    font-size: 4rem;
  }

  .group label{
    font-size: 2rem;
  }

  .buttonArea button {
    font-size: 1.75rem;
    margin-bottom: 1.5em;
    border-radius: 8%;
  }

}

@media only screen and (min-height: 1800px) {
  main {
    height: 92vh;
  }

  h1 {
    font-size: 5rem;
  }

  .group label{
    font-size: 3rem;
  }

  .buttonArea button {
    font-size: 2rem;
    margin-bottom: 2em;
    border-radius: 10%;
  }
}
